{% extends "base.html" %}
{% load static %}
{% block page_header %}{% endblock %}
{% block content %}
    <section id="hero" class="img-fluid">
        <div class="hero-overlay-content d-flex flex-column justify-content-center align-items-center text-white text-center h-100">
            <img class="d-none d-md-block mx-auto mb-4 hero-logo"
                 src="{% static 'img/stickered.png' %}"
                 alt=""
                 width="200"
                 height="auto">
            <h1 class="display-1 fw-bold lh-1 text-center text-shadow">UNFOLD YOUR CREATIVITY</h1>
            <p class="lead text-shadow">Discover handcrafted products from independent artists</p>
            <div class="d-grid gap-2 d-md-flex justify-content-center mb-4 mb-lg-3 center mt-4">
                <a href="#latest"
                   class="btn btn-danger btn-lg px-4 me-md-2 fw-bold text-white text-decoration-none">Latest Products</a>
                <a href="{% url 'product_list' %}"
                   class="btn btn-secondary btn-lg px-4 text-white text-decoration-none">Shop</a>
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle-x text-white mb-3">
                <p class="mb-0">
                    <svg width="16"
                         height="16"
                         fill="none"
                         viewBox="0 0 24 24"
                         color="#53CB24">
                        <path fill="currentColor" d="M22.456 5.22a.75.75 0 00-.616-.69c-4.055-.728-5.747-1.254-9.531-2.963a.75.75 0 00-.618 0c-3.784 1.709-5.476 2.235-9.53 2.962a.75.75 0 00-.617.691c-.18 2.865.204 5.534 1.145 7.933a16.38 16.38 0 003.358 5.274c2.506 2.66 5.167 3.814 5.675 4.019a.75.75 0 00.563 0c.507-.205 3.168-1.36 5.675-4.019a16.379 16.379 0 003.351-5.274c.941-2.4 1.326-5.068 1.145-7.933zm-6.14 3.52l-5.194 6a.748.748 0 01-.535.26h-.03a.75.75 0 01-.526-.214l-2.306-2.26a.75.75 0 111.05-1.071l1.734 1.7 4.674-5.396a.75.75 0 111.134.982h-.001z">
                        </path>
                    </svg>
                    100% TRUSTADVISOR RATING
                </p>
            </div>
        </div>
    </section>
    <section id="hero-text-secondary">
        <div class="container d-flex flex-column flex-md-row align-items-stretch text-white text-center px-5 mx-auto">
            <div class="col-12 col-md-4 d-flex flex-column justify-content-between h-100 text-center mb-4 mb-md-0 px-2">
                <i class="fas fa-palette fa-lg mb-4 red"></i>
                <h3>Custom Designs</h3>
                <p>
                    Choose from a wide range of colors, patterns, and designs, or create your own personalized sticker to match your unique style.
                </p>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-between h-100 text-center mb-4 mb-md-0 px-2">
                <i class="fas fa-check-circle fa-lg mb-4 red"></i>
                <h3>Quality Assurance</h3>
                <p>
                    Every sticker goes through a thorough verification process to ensure premium quality, durability, and vibrant colors.
                </p>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-between h-100 text-center px-2">
                <i class="fas fa-tag fa-lg mb-4 red"></i>
                <h3>Exclusive Collections</h3>
                <p>
                    Each sticker comes with unique attributes, from limited editions to special designs, perfect for collectors and enthusiasts alike.
                </p>
            </div>
        </div>
    </section>
    <div class="container text-center text-white py-4 gray-opacity rounded headings">
        <h2 class="display-5">Latest Releases</h2>
    </div>
    <section class="container mb-5" id="latest">
        <div class="swiper-container-wrapper">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for product in recent_products %}
                        <div class="swiper-slide">
                            <a href="{% url 'product_detail' product.pk %}">
                                <div>
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.name }}"
                                         class="swiper-image"
                                         loading="lazy">
                                </div>
                                <div class="product-info text-center text-black rounded">
                                    <h3 class="product-name text-black">{{ product.name }}</h3>
                                    <p>{{ product.category|truncatewords:10 }}</p>
                                    <span>€ {{ product.base_price }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'product_list' %}">
                <button class="btn btn-danger btn-lg">Visit our shop</button>
            </a>
        </div>
    </section>
    <div class="container text-center text-white py-4 gray-opacity rounded headings">
        <h2 class="display-5">What our customers say?</h2>
    </div>
    <section>
        <div class="container">
            <div id="testimonials" class="testimonials-section">
                {% if messages %}
                    {% for message in messages %}
                        {% if 'testimonial' in message.tags %}
                            <div class="bg-success rounded pt-4 pb-4 mb-4 mx-auto">
                                <div class="messages">
                                    <h2>{{ message }}</h2>
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="testimonials-wrapper">
                    <div class="testimonials-container">
                        {% for testimonial in testimonials %}
                            <div class="testimonial-card">
                                <p class="testimonial-message">“{{ testimonial.message }}”</p>
                                <p class="testimonial-name">- {{ testimonial.name }}</p>
                                <p class="testimonial-role">{{ testimonial.role }}</p>
                            </div>
                        {% empty %}
                            <p>No testimonials yet. Be the first to share your thoughts!</p>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        <button class="prev-btn">&lt;</button>
                        <button class="next-btn">&gt;</button>
                    </div>
                </div>
                <div class="submit-testimonial">
                    {% if form.errors %}
                        <div class="form-errors">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}<li>{{ field.label }}: {{ error }}</li>{% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form method="POST" action="#testimonials" class="testimonial-form">
                        {% csrf_token %}
                        <div>
                            <h2>Submit Your Testimonial</h2>
                        </div>
                        <div class="form-group">
                            <label for="id_name">Your Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="id_message">Your Testimonial:</label>
                            {{ form.message }}
                        </div>
                        <div class="form-group">
                            <label for="id_role">
                                Who are you? <span class="optional">(optional)</span>
                            </label>
                            {{ form.role }}
                        </div>
                        {% if user.is_authenticated %}
                            <button type="submit" class="submit-btn">Submit</button>
                        {% else %}
                            <span class="red">You must be logged in to submit this form.</span>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/swiper.js' %}" defer></script>
    <script src="{% static 'js/testimonials.js' %}" defer></script>
{% endblock %}
