{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container margin-top-fix text-white">
        <h2 class="text-center py-5">{{ user.username }}'s Profile</h2>
        <div class="align-items-center">
            <div class="col-md-12 text-center">
                <img src="{{ user.profile.profile_image.url }}"
                     class="img-fluid rounded mb-3"
                     style="max-width: 300px"
                     alt="Profile Image">
            </div>
            <div class="col-md-12">
                <div class="col-md-8 mx-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{ form.username|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.last_name|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form.address|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.city|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.county|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.eir_code|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.role|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form.bio|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">{{ form.profile_image|as_crispy_field }}</div>
                            <div class="col-md-8 mx-auto">{{ form.reset_image|as_crispy_field }}</div>
                        </div>
                        <div class="mb-5 text-center">
                            <button type="submit" class="btn btn-danger">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 pb-5 text-white mx-auto">
            <h2 class="mb-4 text-center">My Orders</h2>
            {% if orders %}
                <ul class="list-group">
                    {% for order in orders %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <strong class="order-number">Order:</strong>
                                <strong class="order-number">#{{ order.order_number }}</strong>
                                <br>
                                {{ order.created_at|date:"F j, Y, g:i a" }}
                                <br>
                                <span>Status: {{ order.get_status_display }}</span>
                            </div>
                            <a href="{% url 'order_detail' order.order_number %}"
                               class="btn btn-sm btn-outline-danger">View Details</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">You haven't placed any orders yet.</p>
            {% endif %}
        </div>
        <div class="col-md-8 pb-5 text-white mx-auto">
            <h2 class="mb-4 text-center">My Messages</h2>
            {% if contact_messages %}
                <ul class="list-group">
                    {% for message in contact_messages %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="pe-3">
                                <strong>{{ message.name }} ({{ message.email }})</strong>
                                <p>{{ message.created_at }}</p>
                                <p class="order-number">Message: {{ message.message }}</p>
                            </div>
                            <a href="{% url 'delete_contact_message' message.id %}"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">You haven't sent any messages yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
